[Desktop Entry]
Encoding=UTF-8
Name=PuraVidaCoin
Comment=PuraVidaCoin P2P Cryptocurrency
Comment[ru]=PuraVidaCoin, P2P криптовалюта
Comment[fr]=PuraVidaCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PuraVidaCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/PuraVidaCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/PuraVidaCoin80.xpm
MimeType=x-scheme-handler/PuraVidaCoin;
Categories=Office;
